[Unit]
Description=Pibuddy Auto Wifi Service
After=network.target

[Service]
Type=simple
User=root
# Use the full path to your conda environment
Environment="PATH=/opt/pibuddy/pyenv/pibuddy/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
# Add conda-specific environment variables
Environment=CONDA_HOME=/opt/miniconda3
Environment=CONDA_ENVS_PATH=/opt/miniconda3/envs
Environment=CONDA_ROOT_PREFIX=/opt/miniconda3
Environment=CONDA_NO_PLUGINS=true
Environment=PYTHONPATH=/opt/pibuddy/pyenv/pibuddy/lib/python3.12/site-packages
# Activate conda environment before starting
ExecStart=/bin/bash -c 'source /opt/miniconda3/etc/profile.d/conda.sh && conda activate /opt/pibuddy/pyenv/pibuddy && python -m autoconnect.autowifi'
WorkingDirectory=/opt/pibuddy
Restart=on-failure


[Install]
WantedBy=multi-user.target

# To enable 
# cp ./autowifi.service /etc/systemd/system/autowifi.service
# sudo systemctl enable autowifi
# sudo systemctl start autowifi
